/*

#ImagenSchool{

    width: 50%;
    margin-bottom: 10%;

}

.desc-juego {
	text-align: left;
	margin-bottom: 2rem;
}
    
.video2{
    border-radius: 10px;
    border: 10px solid #ffffff;
     width: 500px;
 }

.left-column{
    
    width: 50%;
   
}

.right-column{
  
    width: 40%;
    margin-left: 10%;
    min-width: 320px;
}

.containerColumnas{

    display: flex;
    flex-wrap: wrap;
}

.form-section+p {
    margin-top: 2rem;
    color: #888;
}

#registro-centro {
    align-self: flex-start;
    margin-top: 10%;
    margin-bottom: 2rem;
}



.h-auto{
	height: auto;
}
*/

/* Version 2.0 */
/*
#ImagenSchool {
    width: 50%;
    margin-bottom: 10%;
    max-width: 100%;
}

.desc-juego {
    text-align: left;
    margin-bottom: 2rem;
}

.video2 {
    border-radius: 10px;
    border: 10px solid #ffffff;
    width: 100%;
    max-width: 500px;
}

.left-column {
    width: 50%;
}

.right-column {
    width: 40%;
    margin-left: 10%;
    min-width: 320px;
}

.containerColumnas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.form-section + p {
    margin-top: 2rem;
    color: #888;
}

#registro-centro {
    align-self: flex-start;
    margin-top: 10%;
    margin-bottom: 2rem;
}

.h-auto {
    height: auto;
}

@media (max-width: 1366px) {
    .video2 {
        width: 100%;
        margin-right: 20%;
    }

    #portfolio{

        margin-top: 60%;
    }

    .right-column{
        min-width: 100%;

    }
    .left-column {
        margin-top: 100%;
        min-width: 100%;
    }

    #registro-centro {
        margin-top: 2rem;
    }

    #Descargar{

        margin-bottom: 2rem;
    }
}


@media (max-width: 768px) {
    .video2 {
        width: 100%;
        margin-left: -8%;
    }

    #portfolio{

        margin-top: 60%;
    }

    .right-column{
        min-width: 100%;

    }
    .left-column {
        margin-top: 100%;
        min-width: 100%;
    }

    #registro-centro {
        margin-top: 2rem;
    }

    #Descargar{

        margin-bottom: 2rem;
    }
}



@media (max-width: 576px) {
    .video2 {
        width: 100%;
      margin-left: -10%;
    }

    #portfolio{

        margin-top: 60%;
    }

    .right-column{
        min-width: 100%;

    }
    .left-column {
        margin-top: 100%;
        min-width: 100%;
    }

    #registro-centro {
        margin-top: 2rem;
    }

    #Descargar{

        margin-bottom: 2rem;
    }
}
*/

#ImagenSchool{

    width: 50%;
    margin-bottom: 10%;

}

.desc-juego {
	text-align: left;
	margin-bottom: 2rem;
}
    
.video2{
    border-radius: 10px;
    border: 10px solid #ffffff;
    width: 100%;
 }

.left-column{
    
    width: 50%;
   
}

.right-column{
  
    width: 40%;
    margin-left: 10%;
    min-width: 320px;
}

.containerColumnas{

    display: flex;
    flex-wrap: wrap;
}

.form-section+p {
    margin-top: 2rem;
    color: #888;
}

.custom-select-language {
    background-color: transparent;
    color: white;
    border: 1px solid transparent;
    padding: 0.375rem 1.75rem 0.375rem 0.75rem;
    background-image: url('data:image/svg+xml;charset=UTF8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 4 5"><path fill="white" d="M2 0L0 2h4z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 0.65rem auto;
    border-radius: 0.5rem;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    transition: all 0.3s ease;
}

/* Opciones del desplegable */
.custom-select-language option {
    background-color: rgba(0, 0, 0, 0.8); /* Fondo semitransparente oscuro */
    color: white; /* Letras blancas */
}

/* Efecto al pasar el mouse por opciones (solo en algunos navegadores) */
.custom-select-language option:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
}

.custom-select-language:focus {
    border-color: #000;
    box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.25);
    outline: none;
}

.custom-select-language:hover {
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

#registro-centro {
    align-self: flex-start;
    margin-top: 10%;
    margin-bottom: 2rem;
}



.h-auto{
	height: auto;
}

@media (max-width: 998px) {

	heade.sala .containerColumnas{
		width:100%;
	}
    #portfolio{

        margin-top: 70%;
    }

    .right-column{
        min-width: 100%;
        margin-left: 0px;

    }
    .left-column {
        margin-top: 100%;
        min-width: 100%;
    }

    #registro-centro {
        margin-top: 2rem;
    }

    #Descargar{

        margin-bottom: 2rem;
    }
    
}
